<h1 align="center">Todo List</h1>

<div class="container">
  <div class="row">
    <input type="text" class="form-control" placeholder="Add next todo here" [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()">
  </div>
  <div class="row">
    <div class="col-sm">
        <list-of-todo-items [header]="'Not Started'" [statusCode]="'NS'"></list-of-todo-items>
    </div>

    <div class="col-sm">
            <list-of-todo-items [header]="'In Progress'" [statusCode]="'IP'"></list-of-todo-items>

    </div>
    <div class="col-sm">
            <list-of-todo-items [header]="'Completed'" [statusCode]="'C'"></list-of-todo-items>
    </div>
  </div>
</div>
