 <div class="view">
   <label *ngIf="!isEditing">{{ todo.title }}</label>

   <input *ngIf="isEditing" type="text" class="form-control" [(ngModel)]="todo.title" (keyup.enter)="updateTitleSave()">
   <button type="button" class="btn  btn-primary btn-sm" (click)="updateTitle()">Edit</button>

   <div class="float-right">
     <confirmation-modal [todo]="todo"></confirmation-modal>
     <button type="button" class="btn  btn-info btn-sm" (click)="updateStatus('NS')">Not Started</button>
     <button type="button" class="btn  btn-primary btn-sm" (click)="updateStatus('IP')">In Progress</button>
     <button type="button" class="btn  btn-success btn-sm" (click)="updateStatus('C')">Completed</button>
   </div>
 </div>
